# Create a file called postgres.env and populate these values in that file for authentication

# DB name
POSTGRES_DB=postgres-db-name

# DB user and password
POSTGRES_USER=postgres-db-user
POSTGRES_PASSWORD=postgres-db-password
